@import 'src/assets/styles/variables.scss';

$block-height: $screen-atom * 7;

:host {
  .full-page {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .full-page__header {
      height: $block-height;
      background: $orange;
    }

    .full-page__footer  {
      height: $block-height;
      background: $white;
    }

    .full-page__header {
      width: 100%;
      padding: 0 $screen-atom * 2;
      display: flex;
      align-items: center;
      justify-content: space-between;

      h1 {
        color: white;
        margin: 0;
        font-size: 16px;
        line-height: 16px;
      }

       p {
         margin: 0;
         text-align: right;
         color: $white;
       }
    }

    .full-page__body {
      position: relative;
      height: calc(100% - 2 * #{$block-height});
      width: 100%;
    }

    .list--icons {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      li {
        list-style-type: none;
        display: inline-block;
        margin: 0 $screen-atom;

        a {
          display: block;
          width: 30px;
          height: 30px;
          text-decoration: none;
          cursor: pointer;
        }
      }
    }
  }
}

