@import 'src/assets/styles/variables.scss';

:host {
  .card {
    position: absolute;
    height: 100%;
    right: 0;
    top: $screen-atom * 7;
    padding: 0 0 $screen-atom;
    background: white;
    z-index: 99999;
    width: $screen-atom * 32;
    min-height: $screen-atom * 25;
    height: 100%;
    max-height: 50vh;
    max-width: 100%;
    border: 1px solid $grey;
  }

  ul {
    margin: 0;
    padding: 0;
    display: block;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    overflow-y: auto;

    li {
      text-decoration: none;
      display: block;
      min-height: $screen-atom * 4;
      border-bottom: 1px solid $grey;
      display: flex;
      justify-content: flex-start;
      width: 100%;
      align-items: center;
      padding: $screen-atom $screen-atom * 2;
      cursor: pointer;

       &.active {
        background: $grey;
       }
    }
  }
}