@import "~leaflet/dist/leaflet.css";
@import "~leaflet.markercluster/dist/MarkerCluster.css";
@import "~leaflet.markercluster/dist/MarkerCluster.Default.css";

$green: green;

.map-div-icon {
  display: block;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: $green;
}