@import "~leaflet/dist/leaflet.css";
@import "~leaflet.markercluster/dist/MarkerCluster.css";
@import "~leaflet.markercluster/dist/MarkerCluster.Default.css";
@import 'src/assets/styles/variables.scss';

.map-div-icon {
  display: block;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 2px solid $white;
}

.map-div-icon--postiive {
  background: $green !important;
}

.map-div-icon--negative {
  background: $red !important;
}